[Unit]
Description=Prometheus Process Exporter
After=network.target

[Service]
User=root
Type=simple
ExecStart=/usr/local/bin/process-exporter --config.path /etc/process-exporter/config.yml
Restart=always

[Install]
WantedBy=multi-user.target
